a .Home, .News, .Contact, .About {
    color: white;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li {
    float: left;
    display: block;
    color: red;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li:hover {
    background-color: yellow;
}
