.dot {
    outline-style: dotted;
}
.dashing {
    outline-style: dashed;
}
.solid {
    outline-style: solid;
}
.double {
    outline-style: double;
}
.groovy {
    outline-style: groove;
}
.ridge {
    outline-style: ridge;
}
.inset {
    outline-style: inset;
}
.outset {
    outline-style: outset;
}