.one {
    font-family: 'Times New Roman', Times, serif;
}
.two {
    font-family: Arial, Helvetica, sans-serif;
}
.three {
    font-family: 'Courier New', Courier, monospace;
}
.four {
    font-family: cursive;
}
.five {
    font-family: fantasy;
}