body {
    background-color: black;
}
h1 {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-shadow: 3px 3px 3px #ababab;
    color: white;
  }